<!DOCTYPE html>
<html>
    <head>
        <title>The Rising Empress</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="LandingSite.css"> -->
    </head>
    <body>
        <h1>Welcome to the Castle of Baking</h1>
        <h3>Navigation bar</h3>
            <p><i>Menu, Gallery, Contact Us, Social Media Icons</i></p> 
        <div class="">
            <p>Summary/Intro: Here we welcome all travelers from both far and wide.</p>
        </div>
        <h3>MENU</h3>
        <ul>
            <p>Images to follow</p>
                <li>Marry Muffins<img src= "" alt= "" /></li>
                <li>Susan Soup</li>
                <li>Thomas Tarts</li>
            </ul>
        <h3>Reviews</h3>
        
        <h3>CONTACT US</h3>
        <p>
            image of front building
           <br> Address [possible map area]
           <br> hours of operation
        </p>
        <footer></footer>
    </body>
</html>