<!DOCTYPE html>
<html>
    <head>
        <title>The Rising Empress</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="LandingSite.css"> -->
    </head>
    <body>
        <h3>MENU</h3>
        <ul>
            <p>Images to follow</p>
            <li>Mage Muffins</li><img src= ; alt= "";>
            <li>Glamour Soup</li>
            <li>Theive's Loaf</li>
            <li>Old King's Fuitcake</li>
            <li>Uncanny Biscuit</li>
            <li>Long Dagger Pie</li>
        </ul>    
    </body>

</html>